.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: rgba(1, 49, 85, 0.459);
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 5px 10px ;
    border-radius: 15px;
    position: relative;
    overflow: visible;
}
.mainContent-u_9PKf:hover{ 
        transform:scale(1.10);
        transition:transform 250ms;
}
.menu-3sdvDG {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}
@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

:root 
.members-1998pB,
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  border-radius: 18px 0px 0px 18px !important;
  margin-top: 4px;
  margin-bottom: 5px;
  filter: drop-shadow(0 0 6px);
  color: rgba(0, 0, 0, 0.342);
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 600ms;
}
.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 99%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-a9vAAp[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}

.tutorialContainer-30WoTp+div {display:none}

.wordmarkWindows-1v0lYD {
  display: none;
}

.toolbar-1gqIat a {
  display: none;
}

.headerTop-3C2Zn0 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "avatar info" "status status" "last last" "join join" "date date" "badges badges";
    align-items: center;
    justify-content: flex-start;
}

.avatarWrapperNormal-3wFMbf {
    margin: 0;
    margin-right: 8px;
}

.customStatus-1bh2V9 {
    grid-area: status;
    text-align: left;
}

#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-2K8pFh {
    resize: horizontal;
    width: 240px;
}

.scroller-1Bvpku {
  max-width: unset;
}

.toolbar-1t6TWx a {
  display: none;
}

.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.3); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1);}
.icon-3cZ1F_ { color: var(--text-normal)}

.container-3baos1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 220px;
    box-sizing: border-box;
}

.sidebar-2K8pFh {
    z-index: 101;
}

.container-1r6BKw {
    padding-right: 220px;
}

/* Pings */
.numberBadge-2s8kKX {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg) scale(1.2);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* settings/deafen/mute buttons animated */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}
.button-14-BFJ {
  transition: 0.2s;
}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.roleCircle-3xAZ1j::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: inherit;
    opacity: 0.3;
    z-index: -1
}

/* Discord Message box */
:root {
    --color-brand-lighter: #4373c5;
}
.input-cIJ7To,
.scrollableContainer-2NUZem {
    background-color: #1d1f31;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    border: 1px solid transparent;
    outline: none;
}
.input-cIJ7To:hover,
.scrollableContainer-2NUZem:hover {
    border-color: #4373c5;
    background-color: #151b2c;
}
.input-cIJ7To:focus-within,
.scrollableContainer-2NUZem:focus-within {
    background-color: #1d1f31;
    border-color: var(--color-brand-lighter);
}
.scrollableContainer-2NUZem {
    border: 1px solid transparent;
    border-radius: 25px;
}
.wordmarkWindows-1v0lYD {
  display: none;
}
